<p><Font color="#9ab",Font size="6",Font face = "courier new">
<pre> All users
<hr color=white width=90%></pre></Font>
</p>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>