<!DOCTYPE html>
<html>
    <p><Font color="#9ab",Font size="6",Font face = "courier new"><pre> Sign up for Comments</pre></Font>
    <br>
    <br>

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	<br>
	<pre>   Otherwise, contact me at <%= link_to "This page", contact_path %></pre>
</p>
	
</html>