<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main"><p><Font color="#9ab",Font size="6",Font face = "courier new">
        <pre> What's up?<hr color=white width=50%></pre></Font></p>
        <%= render 'shared/micropost_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
<p><Font color="#9ab",Font size="6",Font face = "courier new"><pre> Sign up for Comments</pre></Font>
    <br>
    <br>

	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	<br>
	<Font size="3",Font face = "courier new">
	<pre>   Already Signed up? <%= link_to "Comments ▶", signin_path %></pre>
	</Font>
</p>
<% end %>