<!DOCTYPE html>
<html>
  <% main = image_tag("main.jpg", :alt => "Main Page") %>
  <%= link_to main, place_path %>
  <BR>
  <pre><p align="center"> <font color=#666666> A  Walk Around The Corner</font>
  
  <%= link_to "More", place_path %>   |   <%= link_to "About", contact_path %> 
  <Font size='1'>
  Copyright (c) <a href="mailto:wkwak@andrew.cmu.edu"><font color=#9ab>intoxymaster</font></a>  All Rights Reserved.</pre></p>
  </Font>
</html>


