
  <% pic = image_tag("source_pic/fr1.jpg", :alt => "Place page") %>
  <%= link_to pic, switzerland_path %>


     <p> <Font color="666666", Font face ="courier new">
       <pre> <%= @pic.what %>, <%= @pic.city %>, <%= @pic.year %></pre></Font>
     </p>
