<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>|
      <li><%= link_to "Who am I", contact_path %></li>|
      <li><%= link_to "Comments", comment_path %></li>
    </ul>
  </nav>
</header>

